*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.title{
    text-align: center;
    color: white;
    font-size: 40px;
}

html{
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header nav{
    width: 1250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header img{
    height: 75px;
    width: 130px;
}

.header ul{
    list-style: none;
    display: flex;
}

.header li{
    margin-right: 15px;
}

.header a{
    text-decoration: none;
    color: black;
}

.purple-section{
    background: url(../IMG/liquid-cheese.png);
    min-height: 100vh;
}

.menu-spacing{
    width: 100%;
    height: 85px;
}

.grid-content{
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.grid-content h1{
    width: 80%;
    margin-left: 8%;
    margin-bottom: 6%;
    color: white;
    font-size: 40px;
    font-weight: bold;
}

.grid-content p{
    color: white;
    margin-left: 8%;
    font-size: 18px;

}

.grid-content img{
    margin-left: 18%;
}

.grid-content2{
    height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-content2 h1{
    color: white;
    margin-bottom: 3%;
    font-size: 30px;
}

.grid-content2 p{
    padding: 10px;
    color: white;
}

.grid-content2 div{
    margin-top: 10%;
    text-align: center;
}

.grid-content2 img{
    height: 200px;
}

.white-section{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
}

.white-section div{
    margin-top: 11%;
}

.white-section h1{
    text-align: center;
    margin-bottom: 16px;
    font-size: 35px;
    max-width: 100%;
}

.white-section p{
    text-align: center;
    width: 1200px;
    margin: auto;
    font-size: 17px;
    margin-top: 30px;
    max-width: 100%;
}

.grid{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 95px;
    margin-top: -95px;
}

.grid img{
    width: 300px;
    margin: auto;
    padding-bottom: 15px;
}

.responsive-table{
   overflow-y: auto;
   overflow-x: hidden;
   overflow: hidden;
   width: 100%;
}

.responsive-table caption{
    margin-bottom: 2.0rem;
    font-size: 20px;
}


table{
    min-width: 360px;
    width: 100%;
    border-collapse: collapse;
}

table td, table th{
    white-space: nowrap;
    padding: 0.5rem;
    border: 0.1rem solid gray;
    text-align: left;
    align-items: center;
    min-width: 360px;
    height: 100px;
}

tfoot td{
    background-color: gray;
}

tfoot{
    max-height: 50px;
}

.white-space{
    height: 200px;
}

.contact-form img{
    max-width: 480px;
}

.contact-form fieldset{
    height: 100vh;
    border: none;
}

.contact-form input, textarea{
    display: block;
    margin-top: 5px;
    height: 50px;
    width: 320px;
}

.contact-form label{
    color: white;
}

.input-group{
    margin-top: 20px;
    margin-left: 25px;
}

.input-group input{
    border-radius: 15px;
    border-style: none;
    padding-left: 12px;
    outline: none;
}

.input-group textarea{
    border-radius: 15px;
    border-style: none;
    padding-left: 12px;
    padding-top: 10px;
    min-height: 200px;
    min-width: 400px;
}

.contact-form{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-form button{
    margin-top: 50px;
    margin-left: 25px;
}

.contact-form legend{
    color: white;
    margin-left: 25px;
    margin-top: 25px;
}

.botao{
    background: #a77ef8;
    border: none;
    border-radius: 15px;
    height: 50px;
    width: 150px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.botao:hover{
    width: 160px;
    height: 60px;
    font-size: 17px;
    background: blueviolet;
}

